/* Estilo general */
body {
    font-family: Arial;
    background-color: #eaeaea;
    color: #000000;
    margin: 10px;
}

/* Encabezado */
header {
    background-color: #cccccc;
    padding: 10px;
}

/* Menú */
nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Contenido */
main {
    margin-top: 10px;
}

/* Secciones */
section {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Tabla */
table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

/* Pie de página */
footer {
    background-color: #cccccc;
    text-align: center;
    padding: 5px;
}
